
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env
.venv/*

*.code-workspace
noupload/*
*.zip

sql/db.sqlite3

https-cert.crt
private-key.pem

node_modules/
webpack.config.js
package.json
package-lock.json
api.py
public/
*.OLD
__pycache__