{% extends 'admin/master.html' %}

{% block body %}
    {% if status == 1 %}
    <form action="{{ url_for('logout') }}" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <br>
    <form action="{{ url_for('upload_img') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputImg">Image</label>
            <input type="file" class="form-control" id="InputImg" name="image" required>
        </div>
        <button type="submit">Upload Image</button>
    </form>
    <form action="{{ url_for('upload_project_img') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputImg">Image</label>
            <input type="file" class="form-control" id="InputImg" name="image" required>
        </div>
        <button type="submit">Upload Project Image</button>
    </form>
    <form action="{{ url_for('upload_resume') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputImg">Resume PDF</label>
            <input type="file" class="form-control" id="InputPdf" name="pdf" required>
        </div>
        <button type="submit">Upload Resume</button>
    </form>
    {% else %}
    <form action="{{ url_for('login') }}" method="POST" enctype="multipart/form-data" id="loginform">
        {{ form.login }}<br>
        {{ form.password }}<br>
        <button type="submit">Log In</button>
    </form>
    {% endif %}
{% endblock %}