{% extends "base.html" %}
{% block head %}
{{ super() }}
<title>Adam Schoenfeld</title>

<script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
     [
      {
       "@type": "ListItem",
       "position": 1,
       "item":
       {
        "@id": "https://adamschoe.com",
        "name": "Home"
        }
      }
     ],
     "name": "Home"
    }
</script>

{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
    <div class="container col-xxl-8 px-4 mt-4 mt-sm-5">
        <div itemscope itemtype="http://schema.org/Person" class="row flex-lg-row align-items-center g-5">
          <meta itemprop="gender" content="Male">
          <meta itemprop="birthDate" content="May 25, 1999">
          <meta itemprop="jobTitle" content="Software Engineer">
          <meta itemprop="email" content="aschoe@umich.edu">
          <meta itemprop="url" content="https://www.adamschoe.com">
          <div class="col-10 col-sm-8 col-lg-6 mx-auto">
            <img itemprop="image" src="{{url_for('show_image', image='adamschoenfeld.webp')}}" class="d-block mx-lg-auto img-fluid" alt="A photo of Adam Schoenfeld">
          </div>
          <div class="col-lg-6 mt-3 mt-md-5">
            <h6>Hi, my name is</h6>
            <h1 itemprop="name" class="display-4 fw-bold lh-1 mb-3">Adam Schoenfeld</h1>
            <p itemprop="description" class="lead">
                {{ bio|safe }}
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a itemprop="sameAs" href="https://github.com/ASchoe311" target="_blank" class="btn btn-outline-primary btn-lg px-4 me-md-1">My GitHub</a>
              <a itemprop="sameAs" href="https://www.linkedin.com/in/adam-schoenfeld-020133187/" target="_blank" class="btn btn-outline-primary btn-lg px-4">My LinkedIn</a>
            </div>
          </div>
        </div>
    </div>
    <div class="container my-4 my-md-5 py-3">
        <div class="text-center justify-content-center">
            <h2 class="fw-bold text-primary display-7">Skills</h2>
            <p class="text-muted mb-4 mb-md-5">Highlights of the languages, frameworks, and tools I have gained experience with.</p>
            <div class="mb-md-4">
                <div class="row row-cols-3 row-cols-md-6">
                    {% if skills|length > 0 %}
                    {% for i in range(6) %}
                    <div class="col">
                        <div class="p-3 bg-primary rounded shadow-2-strong d-inline-block mb-4">
                            <i class="devicon-{{ skills[i].icon }} skillicon"></i>
                        </div>
                        <h5 class="fw-bold mb-4">{{ skills[i].name }}</h5>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="collapse row row-cols-3 row-cols-md-6 justify-content-center" id="skillCollapse">
                    {% if skills|length > 6 %}
                    {% for i in range(6, skills|length) %}
                    <div class="col">
                        <div class="p-3 bg-primary rounded shadow-2-strong d-inline-block mb-4">
                            <i class="devicon-{{ skills[i].icon }} skillicon"></i>
                        </div>
                        <h5 class="fw-bold mb-4">{{ skills[i].name }}</h5>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <button
                class="btn btn-primary"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#skillCollapse"
                aria-expanded="true"
                aria-controls="skillCollapse"
                id="skill-collapse-btn"
            >
                View More
            </button>
        </div>
    </div>
    <div id="ProjectCards" class="container-fluid">
        <h2 class="fw-bold mb-4 text-center text-primary display-7">Projects</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-left ms-md-2 me-md-2 ms-lg-4 ms-lg-4">
            {% for project in projects %}
            <div class="col pb-3">
                <div itemscope itemtype="https://schema.org/SoftwareApplication" class="ProjectCard card h-100 shadow-3-strong">
                    <div itemprop="maintainer" itemscope itemtype="https://schema.org/person">
                        <meta itemprop="name" content="Adam Schoenfeld">
                        <meta itemprop="email" content="aschoe@umich.edu">
                    </div>
                    <meta itemprop="operatingSystem" content="Any">
                    <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <meta itemprop="price" content="0.00">
                    </div>
                    <meta itemprop="applicationCategory" content="DeveloperApplication">
                    <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                        <meta itemprop="ratingValue" content="5.0">
                        <meta itemprop="ratingCount" content="1">
                    </div>
                    <div class="bg-image rounded mx-auto">
                        <img src="{{url_for('show_image', image=project.image)}}" itemprop="thumbnailUrl" class="img-fluid" alt="Thumbnail for {{ project.title }}" loading="lazy">
                    </div>
                    <div class="card-body">
                        <div>
                            {% for lang in project.languages %}
                            <span class="badge rounded-pill bg-info font-weight-bold text-white" data-mdb-toggle="tooltip" title="Written using {{ lang }}">{{ lang }}</span>
                            <!-- <span class="badge rounded-pill bg-info">
                                <i class="fab fa-{{ lang }} fa-lg text-capitalize" data-mdb-toggle="tooltip" title="Written using {{ lang }}"></i>
                            </span> -->
                            {% endfor %}
                            {% if project.is_wip %}
                            <span itemprop="creativeWorkStatus" class="badge rounded-pill bg-warning font-weight-bold text-white float-end mt-1" data-mdb-toggle="tooltip" title="Development is ongoing">WIP</span>
                            {% else %}
                            <span itemprop="creativeWorkStatus" class="badge rounded-pill bg-success font-weight-bold text-white float-end mt-1" data-mdb-toggle="tooltip" title="Development is completed">Completed</span>
                            {% endif %}
                        </div>
                        <h3 itemprop="name" class="text-center my-3"><a href="{{ project.github_url }}" class="ProjectLink card-title mx-2 text-decoration-none text-body" target="_blank">
                            {{ project.title }}
                        </a></h3>
                        {% if project.shield|string() != "NULL" %}
                        <img class="position-relative start-50 top-0 translate-middle mt-2" alt="Downloads count" src="{{ project.shield }}">
                        {% endif %}
                        <p itemprop="description" class="ProjectDescription card-text">{{ project.description|safe }}</p>
                        {% if project.extras %}
                        {% for ext in project.extras %}
                        <a href="{{ ext.url }}" target="_blank"class="card-link">{{ ext.text }}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ project.github_url }}" itemprop="url" class="btn btn-primary hover-overlay ripple ripple-surface-light" target="_blank" role="button">
                            <i class="fa-brands fa-github me-1" style="position: relative; top: 1px; font-size: 15px;"></i>
                            View on Github
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block FabMenu %}
{{ super() }}
{% endblock %}
{% block footer %}
<footer class="bg-light text-center text-lg-start pt-3">
    {{ super() }}
</footer>
{% endblock %}
{% block JS %}
{{ super() }}
<script type="text/javascript">
    document.getElementById("skill-collapse-btn").addEventListener("click", function(e){
        // console.log(e.srcElement.innerText)
        if (e.srcElement.innerText == "VIEW MORE") {
            document.getElementById("skill-collapse-btn").innerHTML = "View Less"
        }
        else {
            document.getElementById("skill-collapse-btn").innerHTML = "View More"
        }
    });
</script>
{% endblock %}