{% extends "base.html" %}
{% block head %}
{{ super() }}
<title>Resume</title>
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
<embed src="{{url_for('show_pdf', pdf=resFile)}}" type="application/pdf" width="100%" height="600px" />
    <!-- <div class="container-fluid" id="container">
        <object
            data="{{url_for('show_pdf', pdf=resFile)}}"
            type="application/pdf"
            width="100%"
            height="100vh"
        >
        </object>
    </div> -->
{% endblock %}
{% block FabMenu %}
{{ super() }}
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
{% block JS %}
{{ super() }}
{% endblock %}